<div class="container">
    <img class="opacity-75 img-fluid mb-0" src="/images/header.jpg">
    <div><h1 class="bg-secondary text-light px-2 mt-0 text-center">Administration du site de Concept Institut</h1></div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Les catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Les produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">...</a>
        </li>
      </ul>
