<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <p><%= message %></p>
            </div>
         </div>
    </div>
  
    <div class="mt-5">
        <a class="btn btn-primary btn-sm mb-5" role="button"  href="../categories">Retour à la liste des catégories</a>
    </div>
<%- include('../_footer'); %>