<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>
    <h1>Suppression de centre</h1>
    <p><%= message  %></p>
    <a href="../sessions">Retour à la liste des sessions</a>
    <%- include('../_footer'); %>