        </div>    
        <footer class="mt-4 bg-success">
            <div  id="scrollUp"><a href="#haut"><i class="fa-solid fa-circle-chevron-up fa-lg"></i></a></div>
            <nav class="nav justify-content-end ">
                <a class="nav-link text-white" href="<%#=baseURL%>/legacy">Mentions légales</a>
            </nav>
        </footer>
    </body>
    <script src="<%#=baseURL%>/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="<%#=baseURL%>/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="<%#=baseURL%>/js/app.js"></script>     -->
</html>