        </div>
        <footer class="mt-5 text-center">
            <div>
                <p>
                    <a href="<%=baseURL%>/legacy">mentions légales</a>
                </p>
            </div>
            <div>
                <p>
                    <a href="<%=baseURL%>/admin">administration</a>
                </p>
            </div>
        </footer>
    </body>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</html>