<div class="text-end m-3"><a href="#haut"><i class="fa-solid fa-circle-chevron-up fa-lg"></i></a></div>
        </div>    
        <footer class="mt-20">
            <nav class="nav justify-content-end">
                <a class="nav-link" href="<%=baseURL%>/"><i class="fa-solid fa-house"></i> Accueil</a> 
                <a class="nav-link" href="<%=baseURL%>/legacy">Mentions légales</a>
                <a class="nav-link" href="<%=baseURL%>/admin">Administration</a>
              </nav>
            <!-- <div class="row justify-content-center">
                <div class="col-4">
                    <a href="/legacy">mentions légales</a>
                </div>
                <div class="col-4">
                    <a href="/admin">administration</a>
                </div>
            </div> -->
        </footer>
    </body>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</html>