        </div>    
        <footer class="bg-success">
            <div  id="scrollUp"><a href="#haut"><i class="fa-solid fa-circle-chevron-up fa-lg"></i></a></div>
            <nav class="nav justify-content-end">
                <span class="nav-link text-warning fw-bold"><small><i class="fa-solid fa-triangle-exclamation"></i> Données factices</small></span>
                <a class="nav-link text-white" href="/legacy">Mentions légales</a>
            </nav>
        </footer>
    </body>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="/js/app.js"></script>     -->
</html>