<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%#=baseURL%>/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%#=baseURL%>/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bad+Script&family=Tajawal&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Bruno+Ace+SC&family=Comfortaa&family=Foldit&family=Poiret+One&family=Unbounded:wght@500&display=swap" rel="stylesheet">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/be816a8046.js" crossorigin="anonymous"></script>
