<%- include('_head'); %>
<%- include('_header'); %>
    <h3>A propos du site</h3>
    <p>Projet réalisé par Virginie DIEZ pendant la formation CDA Simplon, mai à octobre 2023.</p>
    <h3>Crédits</h3>
        <div>
            <ul class="list-unstyled">Crédits :
                <li>polices d'écriture : Google Fonts</li>
                <li>images : pixabay, </li>
                <li>icônes : flaticon 
                    <ul>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/mayor-icons" title="Mayor Icons">Mayor Icons</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/smashingstocks" title="smashingstocks">smashingstocks</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/beelove" title="BeeLove">BeeLove</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/uniconlabs" title="Uniconlabs">Uniconlabs</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/lizel-arina" title="Lizel Arina">Lizel Arina</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/anggara" title="Anggara">Anggara</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                        <li>
                            <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/pojok-d" title="pojok d">pojok d</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
<%- include('_footer'); %>