<%- include('_head'); %>
<%- include('_header'); %>
    <h3>> A propos du site</h3>
    <p>Projet réalisé par Virginie DIEZ pendant la formation au titre professionnel Concepteur Développeur d'Application, à Simplon Grenoble, de mai à octobre 2023.</p>
    <div class="alert alert-danger" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> L'application ne contient que de contenu factice.
      </div>
    <h3>> Crédits</h3>
        <div>
            <h6 class="mt-3">Polices d'écriture : </h6> 
            <div class="ms-3"><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></div>
            <h6 class="mt-3">Images : </h6> 
            <div class="ms-3"><a href="https://pixabay.com/fr/" target="_blank">Pixabay</a></div>
            <h6 class="mt-3">Icônes : </h6>
            <div class="ms-3"><a href="https://www.flaticon.com/fr/" title="Flaticon">flaticon</a> </div>
            <small>
                <ul class="ms-3 mx-auto">
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/justicon" title="justicon">justicon</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/mayor-icons" title="Mayor Icons">Mayor Icons</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/smashingstocks" title="smashingstocks">smashingstocks</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/beelove" title="BeeLove">BeeLove</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/uniconlabs" title="Uniconlabs">Uniconlabs</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/lizel-arina" title="Lizel Arina">Lizel Arina</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/anggara" title="Anggara">Anggara</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                    <li>
                        <div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/pojok-d" title="pojok d">pojok d</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
                </ul>
            </small>
        </div>
<%- include('_footer'); %>