<%- include('_head'); %>
<%- include('_header'); %>
    <h3>A propos du site</h3>
    <p>Projet réalisé par Virginie DIEZ pendant la formation CDA Simplon, février à octobre 2023.</p>
    <h3>Crédits</h3>
        <div>
            <ul class="list-unstyled">Crédits :
                <li>polices d'écriture : Google Fonts</li>
                <li>images : pixabay, </li>
                <li>icônes : flaticon 
                    <ul>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/cosmetique" title="cosmétique icônes">Cosmétique icônes créées par amonrat rungreangfangsai - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/cremes" title="crèmes icônes">Crèmes icônes créées par AmethystDesign - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/huile-dargan" title="huile d'argan icônes">Huile d'argan icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/ongles" title="ongles icônes">Ongles icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/maquillage" title="maquillage icônes">Maquillage icônes créées par photo3idea_studio - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/kit-de-maquillage" title="kit de maquillage icônes">Kit de maquillage icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/fondation" title="fondation icônes">Fondation icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/creme-hydratante" title="crème hydratante icônes">Crème hydratante icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/toner" title="toner icônes">Toner icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/couleur-des-ongles" title="couleur des ongles icônes">Couleur des ongles icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/soin-de-la-peau" title="soin de la peau icônes">Soin de la peau icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/lotion-pour-le-corps" title="lotion pour le corps icônes">Lotion pour le corps icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/le-fard-a-paupieres" title="le fard à paupières icônes">Le fard à paupières icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/soin-de-la-peau" title="soin de la peau icônes">Soin de la peau icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/parfum" title="parfum icônes">Parfum icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/bb-creme" title="bb crème icônes">Bb crème icônes créées par Irakun - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/rouge-a-levres" title="rouge à lèvres icônes">Rouge à lèvres icônes créées par Muhammad Atif - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/cosmetique" title="cosmétique icônes">Cosmétique icônes créées par madness - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/bb-creme" title="bb crème icônes">Bb crème icônes créées par Funkrataii - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/produits-de-beaute" title="produits de beauté icônes">Produits de beauté icônes créées par Victoruler - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/vernis-a-ongle" title="vernis à ongle icônes">Vernis à ongle icônes créées par Victoruler - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/bb-creme" title="bb crème icônes">Bb crème icônes créées par Funkrataii - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/cosmetique-coreen" title="cosmétique coréen icônes">Cosmétique coréen icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/sourcil" title="sourcil icônes">Sourcil icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/cosmetique-coreen" title="cosmétique coréen icônes">Cosmétique coréen icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/eye-liner" title="eye-liner icônes">Eye-liner icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/faciale" title="faciale icônes">Faciale icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/correcteur" title="correcteur icônes">Correcteur icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/crayon" title="crayon icônes">Crayon icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/poudre-bronzante" title="poudre bronzante icônes">Poudre bronzante icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/le-fard-a-paupieres" title="le fard à paupières icônes">Le fard à paupières icônes créées par iconixar - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/huile-dargan" title="huile d'argan icônes">Huile d'argan icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/le-fard-a-paupieres" title="le fard à paupières icônes">Le fard à paupières icônes créées par mikan933 - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/ombres-a-paupieres" title="ombres à paupières icônes">Ombres à paupières icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/cosmetique-coreen" title="cosmétique coréen icônes">Cosmétique coréen icônes créées par Freepik - Flaticon</a></li>
                        <li><a href="https://www.flaticon.com/fr/icones-gratuites/ampoule" title="ampoule icônes">Ampoule icônes créées par Freepik - Flaticon</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
<%- include('_footer'); %>