<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>
    <h1>Suppression de catégories</h1>
    <p><%=  message %></p>
    <a href="../categories">Retour à la liste des catégories</a>

    <%- include('../_footer'); %>