<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>
    <h1>Suppression de produit</h1>
    <p><%= message  %></p>
    <a href="../products">Retour à la liste des produits</a>
    <%- include('../_footer'); %>