<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>
    <h1>Suppression de centre de formation</h1>
    <p><%=  message %></p>
    <a href="../antennas">Retour à la liste des centres de formation</a>

    <%- include('../_footer'); %>